# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# Environment variables
.env

# SQLite database files
*.db
*.sqlite3

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Flask specific
instance/
